.modal-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.form-group-label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 10px;
}

.button-form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  align-content: space-between;
}

.formStatus {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin: 10px;
}

.css-13i4rnv-MuiGrid-root {
  margin: 20px;
}
