#headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid gray;
}

#headerContainer img {
  width: 200px;
  height: 45px;
}

#header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#header-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
